.inpamount{
    text-align: center;
    color: #B5BDCC;
    border: none;
    outline: none;
}
.inpamount :focus{
    color: #6379F4;
}
.inputnotes{
    background-image: url(../../img/pen.svg);
    background-repeat: no-repeat;
    color: rgba(169, 169, 169, 0.8);
    border: none;
    border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
    outline: none;
    width: 15rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}