.mytextblue{
    color: #6379F4;
}
.bgbluelight{
    background-color: #FAFCFF;
}
.mybgblue{
    background-color: #6379F4;
}
.borad{
    border-radius: 20px;
}
.shadow{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);;
}